<h1 class="ui center aligned header">
  <%=@project.title%>
</h1>
<div class="ui grid stackable">
  <div class="four wide column">
    <div class="ui vertical pointing menu">
      <%= link_to 'Project Details', "", id: 'project_details', class: 'active item' %>
      <%= link_to 'Posts', id: 'posts', class: 'item' do %>
        Posts
        <div class="ui label post_count_for_project"><%= @project.posts.count %></div>
      <% end %>
      <%= link_to 'Members', id: 'members', class: 'item' do %>
        Members
        <div class="ui label member_count_for_project"><%= @project.users.count %></div>
      <% end %>
      <%= link_to 'Edit Project', "", id: 'edit_project', class: 'item' %>
    </div>
  </div>

  <div class="twelve wide column edit_project">
    <div class="display_add_user_form"><%= render 'add_user_form'%></div>
    <div class="display_remove_members_form"><%= render 'remove_members_form'%></div>
    <div class="display_project_posts"><%= render 'project_posts'%></div>
    <div class="display_project_details"><%= render 'project_details'%></div>
  </div>
</div>
