<h1 class="ui center aligned header">
  <%=@project.title%>
  <div class="sub header">Project Owner: <%=@project_owner.name%></div>
</h1>
<div class="ui grid">
  <div class="four wide column">
    <div class="ui vertical pointing menu">
      <%= link_to 'Home', "", id: 'home', class: 'active item', remote: true %>
      <%= link_to 'Members', "", id: 'members', class: 'item', remote: true %>
      <%= link_to 'Posts', "", id: 'posts', class: 'item', remote: true %>
    </div>
  </div>
  <div class="twelve wide column edit_project">
    <%= render 'add_user_form' %>
  </div>
</div>
