<h1 class="ui center aligned header">
  <%=@project.title%>
  <div class="sub header">Project Owner: <%=@project_owner.name%></div>
</h1>
<div class="ui grid">
  <div class="four wide column">
    <div class="ui vertical pointing menu">
      <%= link_to 'Edit Project', "", id: 'edit_project', class: 'active item', remote: true %>
      <%= link_to 'Members', "", id: 'members', class: 'item', remote: true %>
      <%= link_to 'Posts', "", id: 'posts', class: 'item', remote: true %>
    </div>
  </div>
  <div class="twelve wide column edit_project">
  <div class="display_add_user_form"><%= render 'add_user_form'%></div>
  <div class="display_project_posts"><%= render 'project_posts'%></div>
  <div class="display_remove_members_form"><%= render 'remove_members_form'%></div>
  </div>
</div>
