<%= form_with  url: project_posts_path(@project), html: {class: "ui form"} do |f| %>
<div class="required field">
  <%= f.label :title %>
  <%= f.text_field :title%>
</div>
<div class="required field">
  <%= f.label :comment %>
  <%= f.text_area :comment, rows: 3 %>
</div>

  <%= f.submit "Add Post", class: 'ui button' %>
<% end %>