<!DOCTYPE html>
<html>
  <head>
    <title>Pmtool</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= favicon_link_tag asset_path('favicon.png'), :rel => 'icon', :type =>  'image/png' %>
  </head>
  <body>

  <div class="ui left vertical inverted sidebar labeled menu">
    <% if current_user %>
      <%= link_to 'Projects', projects_path, class: 'item' %>
      <%= link_to 'New Project', new_project_path, class: 'item' %>
      <%= link_to 'Chat Rooms', chat_rooms_path, class: 'item' %>
      <% if current_user.profile_picture? %>
        <%= link_to edit_user_registration_path, class: 'item' do %>
          <i class="icon"><%= image_tag "#{current_user.profile_picture}", class: 'ui circular image' %></i>
          <%= current_user.name %>
        <% end %>
      <% else %>
        <img class="ui avatar image" src="https://robohash.org/<%=current_user.email%>"><%= link_to "#{current_user.name}", '/users/edit' %>
      <% end %>
    <%= link_to 'Sign Out', destroy_user_session_path, :data => {:method => 'delete'}, class: 'item' %>
  <% else %>
    <%= link_to 'Sign In', new_user_session_path, class: 'item' %>
  <% end %>
  </div>
    <div class="pusher pushed_content">
      <div class="">
      <%= render 'layouts/navbar' %>
      <div class="application_flash_messages"></div>
        <%= yield %>
      </div>
      </div>
  </body>
</html>
